

.loginCard{
  background: white;
  justify-content: center;
  padding: 20px 50px;
  box-shadow: 1px 1px 38px 5px #ebebeb;
  .loginTitle{
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px;
  }
  .formItem{
    height: 50px;
    line-height: 50px;
    display: flex;
    color: #bebaba;
    label{
      width: 100px;
      text-align: right;
    }
    .leftInput{
      margin-left: 22px;
      input{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #cdcfd1;
        outline: none;
      }
    }
    
    button{
      width: 167px;
      padding: 5px;
      border: none;
      background: #22acff;
      color: white;
      border-radius: 6px;
      outline: none;
    }
  }
}