

.commentor {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #ededed;
  .publish{
    text-align: right;
    margin:10px;
    button{
      background: #ff2369;
      color: white;
      border: none;
      padding: 2px 5px;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .openArticle{
      color: #0aa3ff;
      font-size: 14px;
      cursor: pointer;
    }
    .operator{
      display: flex;
      li{
        span{
          padding: 2px 5px;
          cursor: pointer;
        }
        .commenterBtn{
          border: 1px solid #287bff;
          color: #287bff;
          border-radius: 5px;
        }
      }
    }
  }
  
  .commentorList{
    padding: 10px;
   
    .commentorInput{
      margin:10px;
      border: 1px solid #dddddd;
      min-height: 50px;
      padding: 5px;
      :active{
        border:1px solid red;
      }
    }
  }
}