

.card{
  border-bottom: 2px solid #f2f2f2;
  background: #ffffff;
  padding: 10px 20px;
  .title{
    font-size: 16px;
    margin: 10px 0;
  }
  .content{
    overflow: hidden;
    img{
      float: left;
      width:130px;
    }
    .text{
      min-height: 170px;
      overflow: hidden;
      position: relative;
      .readBtn{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
  }
  .footer{
    color:gray;
    font-size: 12px;
  }
}