body,
button,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img{
  width:100%;
}
a {
  color: #314659;
  text-decoration: none;
}

body {
  background-color: #F6F6F6 !important;
}

.ql-syntax {
  padding: 10px;
  font-family: inherit;
  font-size: 15px;
  word-spacing: 5px;
  letter-spacing: .5px;
  background: #fafafa;
}

.ql-video {
  width: 882px;
  height: 497px;
}

input[type="text"] {
  /* padding: 6px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #d9d9d9;
  background: #fcfcfc; */
}

input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #caced4;
  /* placeholder字体大小  */

}


.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

li {
  list-style: none;
}