

.header{
  background-color: white;
  height: 42px;
  line-height: 42px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  div{
    padding:0 10px;
    .logo{
      font-size: 14px;
      font-weight: 500;
      color: #010101;
    }
  }
}
