html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#root {
  height: 100%;
}
#root .header {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
}
#root .main {
    height: 100%;
    display: flex;
}
#root .main .left {
      margin-top: 10px;
      width: 200px;
      background-color: #fff;
      color: white;
      height: 100%;
}
#root .main .left ul {
        margin-top: 10px;
}
#root .main .left ul li {
          font-size: 14px;
          text-align: center;
}
#root .main .left ul li a {
            text-decoration: none;
}
#root .main .right {
      width: 100%;
      margin: 10px;
}
.back[data-v-3d44e391] {
  margin: 10px 0;
}
.add-article .page-title {
  background: white;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.add-article .page-content {
  background-color: #fff;
  padding: 20px;
}
.add-article .page-content .title .cover {
    text-align: center;
    margin-top: 10px;
}
.add-article .page-content .title label {
    float: left;
    width: 200px;
    text-align: center;
}
.add-article .page-content .title div {
    overflow: hidden;
}
.add-article .page-content .title div input {
      width: 660px;
      border: none;
      height: 36px;
      line-height: 35px;
      font-size: 28px;
      outline: none;
      text-align: center;
      border-bottom: 1px solid #c4c4c4;
}
.add-article .page-content .type label {
    float: left;
    width: 40px;
    text-align: center;
}
.add-article .page-content .type div {
    overflow: hidden;
}
.add-article .quill-editor {
  min-height: 400px;
  min-width: 500px;
}
.add-article .quill-editor .ql-container {
    min-height: 400px;
}
.add-article .red {
  color: red;
}
.add-header[data-v-61c94441] {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 5px;
}
.add-header .link-btn[data-v-61c94441] {
    padding: 5px;
    border-radius: 5px;
    background: #2d8cf0;
    color: white;
}
