.style_header_src-web-components-header- {
  background-color: white;
  height: 42px;
  line-height: 42px; }
  .style_header_src-web-components-header- .style_logo_src-web-components-header- {
    font-size: 13px;
    font-weight: 600; }
.style_wrapper_src-web-components-wrapper- {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
.style_footer_src-web-components-footer- {
  text-align: center;
  color: #999999;
  font-size: 15px;
  padding: 10px; }
body, button, ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  background-color: #F6F6F6; }

.style_wrapper_src-web-components-Layout- {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

li {
  list-style: none; }
